@import './cmps/Nav.css';
@import './setup.css';
@import './cmps/Home.css';
@import './cmps/NavModal.css';
@import './cmps/EmailPreview.css';
@import './cmps/EmailDetails.css';
@import './cmps/NewMail.css';
