@import './cmps/Nav.css';
@import './setup.css';
@import './cmps/Home.css';
@import './cmps/NavModal.css';
@import './cmps/EmailPreview.css';
@import './cmps/EmailDetails.css';
@import './apps/keep/note-preview.css';
@import './apps/keep/add-note.css';
@import './apps/keep/note-list.css';
@import './apps/keep/navigator.css';
@import './apps/keep/edit.css';
@import './apps/keep/search.css';
