.aside-nav img {
    height: 20px;
}

.aside-nav input {
    font-size: 20px;
    border: none;
    height: 30px;
    background-color: #c3ddf500;
    cursor: pointer;
    text-align: start;
    width: 144px;

    padding-left: 15px;
}

.aside-nav>div {
    display: flex;
    align-items: center;
    padding: 3px 10px;
    width: 120px;
}

.aside-nav div:hover {
    display: flex;
    background-color: rgb(245, 244, 244);
    border-radius: 10px;
    cursor: pointer;

}


.aside-nav {
    position: fixed;
    height: 100vh;
    margin-left: 1px;
    width: 40vw;
    margin-top: 22px;
    transition: transform .8s;
    list-style-type: none;
    transform: translateX(-162%);
    margin: 0;
    padding: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    background-color: #bfdddc;
}

.aside-nav-list-filter div {
    margin-bottom: 10px;
}

.aside-nav.menu-open {
    position: fixed;
    transform: translateX(0);
    z-index: 5;
}

button.btn-menu-toggle.menu-open {
    transform: rotate(180deg);
}

button.btn-menu-toggle {
    transition: all .5s;
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    border-radius: 50%;
    font-size: 30px;
}

.fa-angle-double-left {
    color: black;
}

button.new-mail {
    letter-spacing: .25px;
    align-items: center;
    background-color: #fff;
    border-radius: 24px;
    color: #3c4043;
    display: inline-flex;
    font-weight: 500;
    height: 48px;
    min-width: 81px;
    padding: 3px 0px 0px 29px;
}

@media (min-width: 740px) {
    .aside-nav {
        width: 144px;
        height: 100;
        position: unset;
        transition: unset;
        transform: unset;
        margin: unset;
        padding: unset;
        z-index: unset;
        align-items: center;
        background-color: #bfdddc;
    }
 
    .aside-nav.menu-open {
        position: unset;
        transform: unset;
        z-index: unset;
    }
    button.btn-menu-toggle {
        display: none;
    }
    .fa-angle-double-left {
        color: unset;
    }
    .main-layout {
        width: 100vw;
        max-width: 100%;
    }
    button.new-mail {
        height: 48px;
        min-width: 79%;
        min-width: 94px;
        cursor: pointer;
        padding: 3px 0px 0px 35px;
        margin-top: 10px;
    }
}