/*<div className="emails-list-heder">
<span className="favorite">favorite</span>
<span className="name">name</span>
<span className="message">message</span>
<span className="date">date</span>*/

/*.emails-list-heder > span {
flex:1

}*/

.emails-list-heder {
    display: none;
}

.emails-list-heder span.message {
    flex: 3;
}

.emails-list-heder span.name {
    flex: 1;
}

.emails-list-heder .favorite {
    flex: 0.5;
}

.emails-list-heder .date {
    flex: 1;
}

.emails-list {
    display: flex;
    flex: 10;
    flex-direction: column;
}

@media (min-width: 740px) {
    .emails-list-heder {
        display: block;
        font-size: 17px;
        display: flex;
        background: #5faba473;
        width: 100%;
        gap: 50px;
        padding: 10px;
        text-align: center;
    }
}