.email-Preview {
    padding: 10px;
    cursor: pointer;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    background-color: #d6cfcf;
    color: #202124;
    border: 1px solid gray;
    position: relative;
    height: 80px;
}

.read {
    background-color: white;
}

.email-Preview:hover {
    position: relative;
    z-index: 2;
    background: rgb(229 234 234);
    color: #202124;
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

/*.email-container{

}*/

.main-container {
    display: flex;
    width: 100vw;
    max-width: 100%;
    padding: 6px;
}

.fa-star {
    content: "\f005";
    position: absolute;
    top: 25px;
    right: 0px;
    font-size: 25px;
}

.yellow {
    color: rgb(255, 255, 92);
}

.grey {
    color: #ded9d9
}

.email-Preview .sentFrom {
    width: 60px;
    flex: 2;
}

.email-Preview .email-body {
    flex: 4
}

.email-Preview .time {
    flex: 1;
    position: absolute;
    top: 0;
    right: 0;
}

.email-Preview .message {
    color: gray;
}

.email-Preview .subject {
    font-weight: 500;
    display: block;
}

@media (min-width: 740px) {
    .email-filter-nav {
        display: unset;
    }
    .email-Preview {
        position: unset;
        flex-direction: row;
        gap: 50px;
        flex: 1;
        align-items: center;
        text-align: center;
    }
    .fa-star {
        top: unset;
        right: unset;
        font-size: 25px;
        position: unset;
        content: "\f005";
        padding-left: 18px;
    }
    .email-Preview .time {
        flex: 1;
        position: unset;
        top: unset;
        right: unset;
    }
    .email-Preview .subject {
        display: unset;
    }
    .main-container {
        padding: 0;
    }
}