    .EmailFullDetails {
        padding: 5px;
        margin: 0 auto;
        width: 80vw;
        background-color: #f2eded;
        font-size: 15px;
        position: relative;
        display: flex;
        gap: 4px;
        flex-direction: column;
    }

    .EmailFullDetails .subject {
        font-size: 20px;
        font-weight: 700;
    }

    .EmailFullDetails .date {
        position: absolute;
        top: 29px;
        right: 71px;
        font-size: 16px;
    }

    .EmailFullDetails .from span, .to span {
        font-size: 15px;
        font-weight: 600;
    }

    .go-back-btn img{
        position: absolute;
    top: 27px;
    right: 21px;
    height: 28px;
    }

    @media (min-width: 740px) {
        .EmailFullDetails {
            padding: 100px;
            width: 50vw;
            cursor: pointer;
        }
    }