
*{
    box-sizing: border-box;
}
.edit{
    display:flex;
    width:80vw;
    flex-direction: column;
    margin: auto;    
    box-shadow: -7px -6px 18px -16px rgba(0,0,0,0.6);
}


.edit input {
    width: 100%;
    margin : 0 ;
    border: none;
    padding: 10px;
    /* height:40px */
}

input.note-content {
    height:100px ;
    /* border: 0px; */
    border-top : 1px solid rgba(122, 122, 122, 0.288);

    /* border: none; */
}
input.note-title {
    height:40px ;
    /* border-top : 1px solid #000; */
    /* border: none; */
    border-radius: 10px;
}
input.note-title.clicked {

    border-end-start-radius:0 ;
    border-end-end-radius: 0;
}

.note-edit-icons{
    display: flex;
    background-color:white;
    border-end-start-radius:10px ;
    border-end-end-radius: 10px;
    padding-block-end: 10px;
}

.note-edit-icons img , .note-edit-more-icon{


    height: 32px;
    margin: 0 8px;
    width: 32px;
}

.note-edit-icons img:hover , .note-edit-more-icon:hover{
    cursor: pointer;
}

.note-edit-more-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.note-edit{

}