@media screen and (max-width: 650px) {
    .note-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .note-card{
        width : 90vw;

    }

    .main{
        display: flex;
        justify-content: center;
    }
    .note-form , .filter-sort {
        width : 90vw ;
        margin:auto;
        justify-content: center;
    }
    .filter-sort{
        display: flex;
        flex-direction: column;
    }

    .search , .note-filter{
        margin-block-start : 0;
    }

}
@media screen and (max-width: 400px) {
    .note-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .note-card{
        min-width : 270px;
        /* margin: auto;
        margin-inline: 20px; */
        /* margin:auto; */
        /* margin-left:5vw; */
    }

    .note-edit-icons img, .note-edit-more-icon {
        height: 32px;
        margin: 0 2px;
        width: 32px;
    }

    
}