*{
    box-sizing: border-box;
}
.img-note-card , .video-note-card {
    width: 300px;
    height: 300px;
    background-color:rgb(237, 248, 245);;
    box-shadow: 0 0 10px rgb(63, 61, 61);
    margin: 20px;
    border-radius:30px;
    text-align: center;
    align-self: center;
    display: block;
}

.img-note-card img  ,.video-note-card iframe {
    object-fit: cover;
    height:80%;
    width:300px;
    border-radius:30px;
    border-bottom-right-radius : 0 ;
    border-bottom-left-radius : 0 ;
    
}






.note-opt{
    display: flex;
    justify-content: space-around;
    display: none;
}

.note-opt > * {

    margin-inline: 5px;
}

/* .card button{
} */

.card:hover .note-opt{
    display: block;

}

.card:hover{
    opacity: 0.9;
}



.txt-img-card{
    height: 400px;
}

.txt-img-card img{
    height:250px
}





.txt-note-card {
    font-size : 1.2rem ;
    margin: 20px;
    padding-block-end: 60px;
    text-align: center;
    width: 300px;
    background-color: rgb(237, 248, 245);
    box-shadow: 0 0 10px rgb(63, 61, 61);
    border-radius: 20px;
}

/* .txt-note-card h4{
    margin: 20px
} */

.txt-note-card:hover{
    /* margin-block-end: 0px; */
    padding-block-end: 33px;

}

.txt-note-card:hover{
    /* padding-block-start: 20px; */
}




