

.todo  {
    display:flex;
    justify-content: space-between;
    margin: 10px;
    /* gap: 5px; */
    /* margin:5px; */

}

.todo >* {
    margin-block: 5px;
}

/* .todo-tesk{
    display

} */
.todo-tesk , .add-new-tesk{
    display: flex;
    background-color: #fff;
    /* padding: 10px; */
}
.todo-tesk >* , .add-new-tesk >*{
    gap: 5px;
}

.todo-tesk img{
    background-color: #fff;
}

.add-new-tesk{
    padding: 10px;
}

.todo-delete-btn{
    justify-content: flex-end;
}

.todo-content{
    display: flex;
}


.todo h5{
    margin:5px ;
}


